body{
	background-color: #4C545D;
	font-family: Georgia;
	color: white;
}
.list_books_and_authors{
	display: flex;
}

a{
	color: whitesmoke;
	text-decoration: none;
}

.content_book{
	display: table; margin: 0 auto;
	white-space: pre-line;
	padding-left: 50px;
	padding-right: 50px;
}

.nav_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #343a40;
	height: 50px;
	border-bottom: 1px solid white;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
}