{% extends 'books/template_site.html'%}


{% block content %}

	<h1>О проекте...</h1>
	<p class="content_book">
		Добро пожаловать на наш веб-сайт, посвященный удивительному миру книг!
		Здесь вы найдете обширный список книг на самые разнообразные темы, которые
		погрузят вас в мир воображения, знаний и приключений.
		Мы собрали для вас огромную коллекцию книг, включающую классические 
		произведения, бестселлеры, научно-популярную литературу, фантастику, 
		детективы, романы, и многое другое. Независимо от ваших предпочтений, вы
		обязательно найдете что-то по душе.
	</p>
	

{% endblock %}