{% extends 'books/template_site.html'%}


{% block content %}
	<h1>Список книг</h1>

	<ol>
	{% for book in books %}
	<li>
		<div class="list_books_and_authors">
			<a href="book/{{book.pk}}"><h4>{{book.title_book}} |&#160;</h4></a> 
			<a href="about_author/{{book.author.pk}}"><h4>{{book.author}}</h4></a>
			<!-- <p><h4>{{book.genre_book}}</h4></p> -->
		</div>
	</li>
	{% endfor %}
	</ol>

	<footer>
		<a href="about_site">О нас</a>
	</footer>
	

{% endblock %}
