{% load static %}

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} {{ title }} {% endblock %}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'books/css/style.css' %}">
	</head>

	<body>
		<nav class="nav_menu">
			<h1>Добро пожаловать на сайт!</h1>
		</nav>

		{% block content %}

		{% endblock %}
	</body>

</html>